#!/usr/bin/env bash

# setting up the environment:
shopt -s expand_aliases
export EASYBUILD_SOURCEPATH=/software/easybuild/sources
export EASYBUILD_INSTALLPATH=/apps/easybuild
export EASYBUILD_BUILDPATH="/dev/shm"
export EASYBUILD_TMPDIR="/dev/shm/easybuild"
export EASYBUILD_PARALLEL="36"
export MODULEPATH="/apps/easybuild/modules/all"
export EASYBUILD_ACCEPT_EULA_FOR="Intel-oneAPI,NVHPC"
alias eb="eb --robot --download-timeout=100"
ulimit -l unlimited
export PYTHONIOENCODING="utf-8"

# loading the right EasyBuild module:
ml EasyBuild/${EB_VERSION}

# check what we got
eb --version

# check the loaded modules
ml

# building stuff
eb --fetch ${SW_LIST} 
eb ${SW_LIST} 

# check all modules
ml spider

